@import url('https://fonts.googleapis.com/css2?family=Trispace&display=swap');

body {
    padding: 0;
    margin: 0;
    color: #fff;
    font-family: 'trispace', sans-serif;   
}

/* HEADER */    

.header-wrapper {
    height: 100vh;
    width: 100%;
    background: linear-gradient(-45deg, #050404, #063364, #2565AE, #3C99DC);
    background-size: 400% 400%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    animation: backgroundTransition 8s ease-in-out infinite;
}

h1, h2 {
    letter-spacing: 4px;
}

.social-media {
    margin-top: 1rem;
    display: flex;
}

.social-media a {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    padding: 1rem 4rem;
    border: 1px solid #fff;
    min-width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s cubic-bezier(.55, .025, .675, .97);
}

a:hover {
    color: #0F5298;
    background-color: #fff;
}

@keyframes backgroundTransition {
    0%{
        background-position: 0% 80%;
    }
    50% {
        background-position: 80% 100%;
    }
    100%{
        background-position: 0% 90%;
    }
}

/* MENU HAMBURGUER */

.checkbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox {
    height: 100px;
    width: 100px;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    cursor: pointer;
    z-index: 9999;
    transition: .4s ease-in-out 0s;
}

.checkbox .trace {
    width: 50px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    border-radius: 4px;
    transition: .5s ease-in-out;
}

.checkbox .trace:nth-child(1){
    top: 26px;
    transform: rotate(0);
}

.checkbox .trace:nth-child(2){
    top: 46px;
    transform: rotate(0);
}

.checkbox .trace:nth-child(3){
    top: 66px;
    transform: rotate(0);
}

#toggle {
    display: none;
}

/* MENU */

.menu {
    position: absolute;
    top: 28px;
    right: 30px;
    background: transparent;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 0px #fff;
    z-index: -1;
    transition: .4s ease-in-out 0s;
}

.menu-items {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: .4s ease-in-out 0s;
}

.menu-items ul {
    list-style-type: none;
}

.menu-items ul li a {
    margin: 10px 0;
    color: #0F5298;
    text-decoration: none;
    letter-spacing: 4px;
    font-size: 40px;
}

/* ANIMAÇÃO DO MENU */

#toggle:checked + .checkbox .trace:nth-child(1) {
    transform: rotate(45deg);
    background-color: #0F5298;
    top: 47px;
}

#toggle:checked + .checkbox .trace:nth-child(2) {
    transform: translateY(-100px);
    width: 30px;
    visibility: hidden;
    opacity: 0;
}

#toggle:checked + .checkbox .trace:nth-child(3) {
    transform: rotate(-45deg);
    background-color: #0F5298;
    top: 48px;
}

#toggle:checked + .checkbox {
    background-color: #fff;
}

#toggle:checked ~ .menu {
    box-shadow: 0px 0px 0px 100vmax #fff;
    z-index: 1;
}

#toggle:checked ~ .menu-items {
    visibility: visible;
    opacity: 1;
}

/* CARDS */

.container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 3rem 0;
}

.card-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
}

.card {
    height: 300px;
    width: 400px;
    margin: 3rem 0 0 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: grayscale(.5);
    color: #6d6d6d;
    cursor: pointer;
    transition: .3s;
}

.card-container:nth-child(1) > .card{
    background-image: url('./img/crud.png');
}

.card-container:nth-child(2) > .card{
    background-image: url('./img/login.png');
}

.card-container:nth-child(3) > .card{
    background-image: url('./img/tt-bot.jpg');
}

.card-text {
    width: 40%;
    font-family: sans-serif;
    letter-spacing: 1px;
    color: #6d6d6d;
}

.card-wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card-wrapper::before {
    content: '';
    position: absolute;
    height: 100px;
    width: 100px;
    display: block;
    border: 1px solid #fff;
    opacity: 0;
    transition: .3s;
}

.card-wrapper h2 {
    font-size: 40px;
    letter-spacing: 4px;
    margin: 0;
    transition: .3s;
}

.card-wrapper p {
    font-size: 0;
    visibility: hidden;
    opacity: 0;
    font-weight: bold;
    transition: .3s;
}

.card:hover {
    filter: unset;
}

.card:hover > .card-wrapper::before {
    opacity: 1;
    width: 350px;
    height: 250px;
}

.card:hover > .card-wrapper p {
    font-size: 14px;
    opacity: 1;
    visibility: visible;
}

/* FOOTER */

.footer {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0F5298;
}

.footer i {
    color: red;
    margin: 0 5px;
}

/* RESPONSIVO */

@media (max-width: 800px) {
    .social-media {
        display: flex;
        flex-direction: column;
    }

    .container {
        margin-top: 0;
    }

    .card-container {
        flex-direction: column;
    }

    .container .card-container:nth-child(1),
    .container .card-container:nth-child(3){
        flex-direction: column-reverse;
    }

    .card {
        height: 250px;
        width: 250px;
    }

    .card-text {
        width: 90%;
        margin-top: 2rem;
        text-align: center;
    }

    .card:hover > .card-wrapper::before {
        height: 190px;
        width: 190px;
    }
}